<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="OfflineListCacheDirectory" value=""/>
    <add key="RomDirectory" value=""/>
    <add key="WorkingDirectory" value=""/>
    <add key="SevenZipExecutablePath" value=""/>
    <add key="7zLocation" value=""/><!--Location for the 7z.dll; needed for SevenZipProcessor-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
